# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js
node_modules/

# Build files
dist/
build/
dist-ssr
*.local

# Vite cache
.vite/

# Tailwind CSS
.tailwind/

# Ignore the production build of CSS
/public/css/
